{% include 'header.html' %}

<div class="wrapper">

	{% include 'sidebar-empty.html' %}

	<div class="content dashboard" style="width: 100%">
		{% include 'navbar.html' %}
		
			{% if error %}
				<span style="color:red">{{ error }}</span>
		{% endif %}


		<form method="POST" action="/packages/add" enctype="multipart/form-data" class="ml-3 mt-3">
			<input type="file" name="file">
			<button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
		</form>

	</div>
	
</div>

{% include 'footer.html' %}
